.author-wrapper{
    text-align:center;
}
.author-name{
    font-size:1.1rem;
    line-height:3rem;
    color:#5698c3;
}
.author-brief{
    color:#888;
    margin-bottom:1rem;
}
.author-tags .ant-tag{
    margin-bottom:.3rem;
}
.author-social{
    display: flex;
    justify-content: space-evenly;
    padding-bottom:1rem;
}
.author-social>span{
    font-size:1.5rem;
    color:#888;
    cursor: pointer;
}
.author-social>span:hover{
    color:#5698c3;
}