.header-wrapper{
    background-color: white;
    overflow: hidden;
    border-bottom:1px solid #dfdfdf;
}
.logo{
    font-size:1.6rem;
    padding:0 .4rem;
}
.logo-desc{
    color:gray;
    padding:0 0.6rem;
    font-size:.6rem;
}