body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width:100%;
  height:50px;
  border-bottom:1px solid #ddd;
}
.header .nav-list{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
}
.header .nav-list li{
  line-height:50px;
  margin-right:10px;
}
.header .nav-list li a{
  padding:15px 30px;
  font-size:18px;
}
.header .nav-list li a:hover{
  color:rgb(98, 98, 255);
}
.content{
  width:100%;
  height:calc(100vh - 50px);
}
.content .video-nav,.content .workplace-nav{
  list-style: none;
  padding:0;
  margin:0;
  width:100px;
  text-align:right;
  padding:0px 10px;
  border-right:1px solid #ddd;
  height:calc(100vh - 50px);
}
.content .video-nav li,.content .workplace-nav li{
  font-size:14px;
  line-height:32px;
}
.content .video-page,.content .workplace-page{
  display: flex;
}
.content .video-page .video-content,.content .workplace-page .workplace-content{
  flex:1;
  padding:3px 6px;
}