.btn-item{
    border-radius: 50%;
    padding:.2rem;
    border:.2rem solid #c0c0c0;
    font-size:1.2rem;
    color:white;
}
.btn-item .btn{
    border-radius: 50%;
    width:6rem;
    height:6rem;
    line-height:6rem;
    background-color:#c0c0c0;
}
.start{
    border:.2rem solid #45b787;
}
.start .btn{
    background-color:#45b787;
}
.add{
    border:.2rem solid #1661ab;
}
.add .btn{
    background-color:#1661ab;
}