
.ant-spin-container .ant-card{
    text-align: center;
    margin:150px auto;
}

.usernameInput,.pwdInput{
    margin-bottom:20px;
}
.login-btn{
    width:100%;
}
.ant-card .ant-card-body{
    padding-bottom:40px;
}
