@mixin button-size(
    $padding-x,
    $padding-y,
    $font-size,
    $border-radius
){
    padding:$padding-y $padding-x;
    font-size:$font-size;
    border-radius: $border-radius;
}

@mixin button-color(
    $color,
    $background-color,
    $border-color,
    $hover-background: lighten($background-color,7.5%),
    $hover-border: lighten($border-color,10%),
    $hover-color:$color
){
    color:$color;
    background-color: $background-color;
    border-color:$border-color;
    &:hover, &:focus, &.focus{
        background-color:$hover-background;
        border-color:$hover-border;
        color:$hover-color;
    }
    &:disabled,&.disabled{
        background-color:$background-color;
        border-color:$border-color;
        color:$color;
    }
}

@mixin alert-color(
    $color,
    $background-color,
) {
    border:1px solid $color;
    background-color:$background-color;
}