.page{
    width:100%;
    height:100vh;
    background-color:#f0f0f0;
}
.header{
    height:5vh;
    line-height:5vh;
    text-align:center;
    border-bottom:1px solid #dfdfdf;
    background-color:white;
}
.footer-nav{
    height:12vh;
    width:100%;
    position: fixed;
    bottom:0;
    border-top:1px solid #dfdfdf;
    background-color:white;
}

.nav-wrap{
    display: flex;
    justify-content: space-around;

}
.nav-wrap .anticon{
    font-size:40px;
    color:gray;
}
.nav-wrap a{
    padding:.7rem;
    text-decoration: none;
    color:gray;
}

.nav-wrap .active,.nav-wrap .active .anticon {
    color:#1a94bc;
}